{% extends "base.html" %}
{%block title %}Editing {{r.name}}{% endblock %}
{% block body %}
<div class="row text-center">
    <h1>Edit {{r.name}}</h1>
</div>
<hr>
<form method="post">
    <div class="form-group">
        <div class="yellow-box">
            <div class="input-group">
                <span class="input-group-addon" id="name-addon">Name</span>
                <input class=" form-control" type="text" placeholder="Enter New Restaurant Name Here"
                       name="name" maxlength="80" aria-describedby="name-addon" value="{{r.name if r else ''}}">
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Change" class="btn btn-primary col-md-9">
        <a class="btn btn-danger col-md-3" href="{{url_for('showMenu', restaurant_id=r.id)}}">Cancel</a>
    </div>
</form>
<br>
{% include "flash.html" %}
{% endblock %}