{% extends "base.html" %}
{% block title %}{{r.name}}{% endblock %}
{% block body %}
<br>
<div class="row">
    <a class="btn btn-default col-md-1" href="{{url_for('showRestaurants')}}">Go back</a>
    <a class="btn btn-success col-md-2 col-md-offset-7"
       href="{{url_for('editRestaurant', restaurant_id=r.id)}}">Edit Restaurant</a>
    <a class="btn btn-danger col-md-2"
       href="{{url_for('deleteRestaurant', restaurant_id=r.id)}}">Delete Restaurant</a>
</div>
<h1 class="text-center">{{r.name}}</h1><br>
{% include "flash.html" %}
<h3 class="text-center">Menu Items</h3>
<hr>
{% if r.menu_items %}
<div class="yellow-box">
    {% for item in r.menu_items %}
    <div class="spacer">
        {% include "menu_item.html" %}
    </div>
    {% endfor%}
</div>
{% else %}
<h1 class="text-center">
    <small>No Menu Items Listed</small>
</h1>
{% endif %}
{% endblock %}