{% extends "base.html" %}
{%block title %}New{% endblock %}
{% block body %}
<div class="row text-center">
    <h1>Add a New Restaurant</h1>
</div>
<hr>
<form method="post">
    <div class="form-group">
        <div class="yellow-box">
            <div class="input-group">
                <span class="input-group-addon" id="name-addon">Name</span>
                <input class=" form-control" type="text" placeholder="Enter Restaurant Name Here"
                       name="name" maxlength="80" aria-describedby="name-addon">
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary col-md-9">
        <a class="btn btn-danger col-md-3" href="{{url_for('showRestaurants')}}">Cancel</a>
    </div>
</form>
<br>
{% include "flash.html" %}
{% endblock %}