{% extends "base.html" %}
{% block title %}Restaurants{% endblock %}
{% block body %}
<div class="row text-center">
    <h1>Restaurants</h1>
    <a class="btn btn-primary pull-right" href="{{url_for('newRestaurant')}}">Add a New Restaurant</a>
</div>
{% include "flash.html" %}
<hr>
{% if restaurants %}
<div class="row yellow-box">
    {% for r in restaurants %}
    <div class="spacer">
        {% include "restaurant.html" %}
    </div>
    {% endfor %}
</div>
{% else %}
<h1 class="text-center">
    <small>No Restaurants Listed</small>
</h1>
{% endif %}
{% endblock %}