{% extends "base.html" %}
{%block title %}Deleting {{r.name}}{% endblock %}
{% block body %}
<div class="row text-center">
    <h1>Delete "{{r.name}}"</h1>
</div>
<hr>
<form method="post">
    <h2>Are you sure that you want to delete restaurant "{{r.name}}"?</h2>
    <br>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger col-md-9">
        <a class="btn btn-success col-md-3" href="{{url_for('showMenu', restaurant_id=r.id)}}">Cancel</a>
    </div>
</form>
<br>
{% include "flash.html" %}
{% endblock %}