<div class="white-box">
    <a class="btn btn-danger pull-right"
       href="{{url_for('deleteMenuItem', restaurant_id=r.id, menu_id=item.id)}}">Delete Menu Item</a>
    <a class="btn btn-success pull-right"
       href="{{url_for('editMenuItem', restaurant_id=r.id, menu_id=item.id)}}">Edit Menu Item</a>
    <br>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>{{item.name if item.name else 'None'}}</dd>
        <dt>Price:</dt>
        <dd>{{'${:,.2f}'.format(item.price) if item.price else 'None'}}</dd>
        <dt>Course:</dt>
        <dd>{{item.course or 'None'}}</dd>
        <dt>Description:</dt>
        <dd class="yellow-box">{{item.description or 'None'}}</dd>
    </dl>
</div>