.yellow-box {
    border: 2px solid #bbbb55;
    border-radius: 5px;
    background: #f4e7b0;
    padding: 5px;
}

h1,h2,h3,h4,h5,h6 {
    background-color: rgba(255,255,255,0.3) !important;
    border-radius: 5px;
}

.white-box {
    border: 2px solid #eee;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
}

.spacer + .spacer {
    margin-top: 30px;
}

.full {
    background: url("/static/food.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.transparent {
    background-color: transparent !important;
}